/wrk
*.html
*.zip
*.log
*.url
*.Build.Number
/build
/dist
*.nupkg
/*.vpj
/*.vpw
/*.vpwhist
/*.vtg
*.history.txt
Specification/*.xml
*.TempPoint.ps1
*.TempPoint.psm1
Work
/md2html/Specification/*.xml
/md2html/Untitled-1.ps1
