/wrk
*.html
*.zip
*.log
*.url
prj/**/*
.Archive/**/*
*.Build.Number
/build
/dist
*.nupkg
/*.vpj
/*.vpw
/*.vpwhist
/*.vtg
*.history.txt
PSmd2html.build
Specification/*.xml
*.TempPoint.ps1
*.TempPoint.psm1
